<div class="offcanvas__logo">
    <a asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt="Logo"></a>
</div>
<div id="mobile-menu-wrap"></div>
<div class="offcanvas__auth">
    <a asp-controller="Account" asp-action="Login">Login</a>
    <a asp-controller="Account" asp-action="Register">Register</a>
</div>
    </div>
<!-- Offcanvas Menu End -->
<!-- Header Section Begin -->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt="Logo"></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li>
                            <a href="#">Women’s</a>
                            <ul class="dropdown">
                                <li><a href="/Catgory/showCatgory/1">Dresses</a></li>
                                <li><a href="/Catgory/showCatgory/2">Tops</a></li>
                                <li><a href="/Catgory/showCatgory/3">Bottoms</a></li>
                                <li><a href="/Catgory/showCatgory/4">Shoes</a></li>
                                <li><a href="/Catgory/showCatgory/5">Accessories & MakeUp</a></li>
                            </ul>
                        </li>

                        <li><a href="#">Contact</a></li>
                        <li><a asp-controller="Product" asp-action="Add">Add New Product</a></li>
                        <li class="active"><a asp-controller="User" asp-action="Details">User profile</a></li>

                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    <div class="header__right__auth">
                        <a asp-controller="Account" asp-action="Login">Login</a>
                        <a asp-controller="Account" asp-action="Register">Register</a>
                    </div>
                    <ul class="header__right__widget">
                        <li><span class="icon_search search-switch"></span></li>

                        <li>
                            <a href="#">
                                <span class="icon_bag_alt"></span>
                                <div class="tip">2</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>