@model List<Product>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_AddLayout";
}
<section b-2hssyqf3jy="" class="product spad">
    <div b-2hssyqf3jy="" class="container">
        <div b-2hssyqf3jy="" class="row">
            <div b-2hssyqf3jy="" class="col-lg-4 col-md-4">
                <div b-2hssyqf3jy="" class="section-title">
                    <h4 b-2hssyqf3jy="">New product</h4>
                </div>
            </div>
            <div b-2hssyqf3jy="" class="col-lg-8 col-md-8">
                <ul b-2hssyqf3jy="" class="filter__controls">
                    <li b-2hssyqf3jy="" class="active" data-filter="*">All</li>
                    <li b-2hssyqf3jy="" data-filter=".women">Women’s</li>
                    <li b-2hssyqf3jy="" data-filter=".men">Men’s</li>
                    <li b-2hssyqf3jy="" data-filter=".kid">Kid’s</li>
                    <li b-2hssyqf3jy="" data-filter=".accessories">Accessories</li>
                    <li b-2hssyqf3jy="" data-filter=".cosmetic">Cosmetics</li>
                </ul>
            </div>
        </div>
        <div b-2hssyqf3jy="" class="row property__gallery" id="MixItUpBA81B2">
            @*foreach*@
            @if (Model == null || !Model.Any())
{
    <p>No products found.</p>
}
else
{
    foreach (var product in Model)
    {<table>
        <tbody>
        <tr>
                                
            <td>@product.ProductImges<img src="/images"></td>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Price.ToString("C")</td>
        </tr>
        </tbody>
     </table>
    }
} 
            <div b-2hssyqf3jy="" class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div b-2hssyqf3jy="" class="product__item">
                    <div b-2hssyqf3jy="" class="product__item__pic set-bg" data-setbg="/img/product/product-1.jpg" style="background-image: url(&quot;/img/product/product-1.jpg&quot;);">
                        <div b-2hssyqf3jy="" class="label new">New</div>
                        <ul b-2hssyqf3jy="" class="product__hover">
                            <li b-2hssyqf3jy=""><a b-2hssyqf3jy="" href="/img/product/product-1.jpg" class="image-popup"><span b-2hssyqf3jy="" class="arrow_expand"></span></a></li>
                            <li b-2hssyqf3jy=""><a b-2hssyqf3jy="" href="#"><span b-2hssyqf3jy="" class="icon_heart_alt"></span></a></li>
                            <li b-2hssyqf3jy=""><a b-2hssyqf3jy="" href="#"><span b-2hssyqf3jy="" class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div b-2hssyqf3jy="" class="product__item__text">
                        <h6 b-2hssyqf3jy=""><a b-2hssyqf3jy="" href="#">Buttons tweed blazer</a></h6>
                        <div b-2hssyqf3jy="" class="rating">
                            <i b-2hssyqf3jy="" class="fa fa-star"></i>
                            <i b-2hssyqf3jy="" class="fa fa-star"></i>
                            <i b-2hssyqf3jy="" class="fa fa-star"></i>
                            <i b-2hssyqf3jy="" class="fa fa-star"></i>
                            <i b-2hssyqf3jy="" class="fa fa-star"></i>
                        </div>
                        <div b-2hssyqf3jy="" class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            
        </div>
        <div style="display:flex; justify-content:center; justify-items:center; text-align:center" class="col-lg-12 text-center">
            <div class="pagination__option">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</section>